.detox-container {
  width: 100%;
  text-align: center;
  padding: 6rem 0 4rem 0;
  background-image: url(../../assets/images/home/detox_icon-3.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.detox-header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detox-header-contant {
  background-image: url(../../assets/images/home/detox_icon-1.png);
  background-repeat: no-repeat;
  padding: 2rem 0;
}

.detox-header-contant h5 {
  font-size: 24px;
  font-weight: 400;
  color: #272727;
}

.detox-header-contant h1 {
  font-size: 48px;
  color: #272727;
  padding: 10px 0;
}

.detox-header-contant span {
  color: #de9190;
}

.detox-main-section {
  width: 80%;
  margin: 0 auto;
  background-image: url(../../assets/images/home/detox_circles.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.detox-section-1 {
  width: 35%;
  align-content: center;
}

.detox-card-1 {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.detox-card-1-content {
  text-align: end;
}

.detox-card-1-content h4 {
  font-size: 20px;
}

.detox-card-1-content p {
  font-size: 18px;
  padding: 10px 0;
}

.detox-card-1-image {
  background-color: #f67900;
  border-radius: 50%;
}

.detox-section-2 {
  width: 30%;
}

.detox-section-3 {
  width: 35%;
  align-content: center;
}

.detox-card-3 {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  margin-top: 50px;
}

.detox-card-3-content {
  text-align: start;
}

.detox-card-3-content h4 {
  font-size: 20px;
}

.detox-card-3-content p {
  font-size: 18px;
  padding: 10px 0;
}

.detox-card-3-image {
  background-color: #f67900;
  border-radius: 50%;
}
/* ------------------------- Responsive Style ----------------------- */

@media (max-width: 1440px) {
  .detox-main-section {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .detox-main-section {
    width: 98%;
  }
}

@media (max-width: 800px) {
  .detox-header-contant {
    padding: 1rem 0;
  }

  .detox-main-section {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .detox-section-1,
  .detox-section-2,
  .detox-section-3 {
    width: 100%;
  }

  .detox-card-1 {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .detox-card-1-content {
    text-align: start;
  }

  .detox-card-3 {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .detox-container h1 {
    font-size: 36px;
  }
}
