.gallery-container {
  width: 100%;
  background-image: url(../../assets/images/about/about-header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-content {
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding: 12rem 0 8rem 0;
}

.gallery-content h1 {
  font-size: 52px;
}

.gallery-content p {
  font-size: 20px;
  padding-top: 1rem;
  word-spacing: 2px;
}

.gallery-content a {
  text-decoration: none;
  color: #ffffff;
}

.gallery-content a:hover {
  color: #000000;
}

.gallery-image {
  width: 100%;
  height: 150px;
  margin-bottom: -10px;
}

/* ------------------------- Responsive Style ----------------------- */

@media (max-width: 500px) {
  .gallery-content h1 {
    font-size: 36px;
  }

  .gallery-content p {
    font-size: 18px;
    padding-top: 1rem;
    word-spacing: 2px;
  }
}
