.header-section {
  width: 100%;
  align-content: center;
  background-image: url(../../assets/images/home/top_right.png);
  background-repeat: no-repeat;
  background-position: top right;
  transition: background-color 1s ease-in-out;
  background-size: auto;
}

.header-section {
  background-position: calc(100% + 200px) 0;
}

.header-section.animate-in {
  animation: slideInFromRight 1s ease-out forwards;
}

@keyframes slideInFromRight {
  from {
    background-position: calc(100% + 200px) 0;
  }
  to {
    background-position: top right;
  }
}

.header-main {
  position: relative;
  overflow: hidden;
}

.header-slider {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 100%;
}

.header-container-1,
.header-container-2,
.header-container-3 {
  width: 100%;
  flex-shrink: 0;
  padding-top: 6rem;
  margin-left: 1rem;
  background-repeat: no-repeat;
  background-position: calc(0% - 200px) bottom;
  background-size: auto;
}

.header-container-1 {
  background-image: url(../../assets/images/home/bottom_left_1.png);
}

.header-container-2 {
  background-image: url(../../assets/images/home/bottom_left_2.png);
}

.header-container-3 {
  background-image: url(../../assets/images/home/bottom_left_3.png);
}

.header-section.animate-in .header-container-1,
.header-section.animate-in .header-container-2,
.header-section.animate-in .header-container-3 {
  animation: slideInFromLeft 1s ease-out forwards;
}

@keyframes slideInFromLeft {
  from {
    background-position: calc(0% - 200px) bottom;
  }
  to {
    background-position: bottom left;
  }
}

.header-contant-1,
.header-contant-2,
.header-contant-3 {
  width: 85%;
  margin: 0 auto;
  padding-right: 5rem;
  display: flex;
  justify-content: space-between;
}

.header-text-1,
.header-text-2,
.header-text-3 {
  width: 48%;
  padding-left: 100px;
  color: white;
  align-content: center;
}

.header-text-1 h1,
.header-text-2 h1,
.header-text-3 h1 {
  font-size: 110px;
  line-height: 120px;
  font-family: "LillyBelle", cursive, sans-serif;
  padding-bottom: 2rem;
  opacity: 0;
  transform: translateY(-50px);
}

.header-text-1 p,
.header-text-2 p,
.header-text-3 p {
  opacity: 0;
  transform: translateY(-50px);
}

.header-text-1 button,
.header-text-2 button,
.header-text-3 button {
  display: inline-block;
  padding: 15px 25px;
  margin-top: 2rem;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  overflow: hidden;
  border-radius: 50px;
  background-color: #de9190;
  border: none;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-50px);
}

.header-section.animate-in .header-text-1 h1,
.header-section.animate-in .header-text-2 h1,
.header-section.animate-in .header-text-3 h1 {
  animation: slideInFromTop 1s ease-out 0.5s forwards;
}

.header-section.animate-in .header-text-1 p,
.header-section.animate-in .header-text-2 p,
.header-section.animate-in .header-text-3 p {
  animation: slideInFromTop 1s ease-out 0.7s forwards;
}

.header-section.animate-in .header-text-1 button,
.header-section.animate-in .header-text-2 button,
.header-section.animate-in .header-text-3 button {
  animation: slideInFromTop 1s ease-out 0.9s forwards;
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-text-1 button:hover {
  background-color: #ced46c;
}

.header-text-2 button:hover {
  background-color: #7c15a8;
}

.header-text-3 button:hover {
  background-color: #e56c26;
}

.header-image-1,
.header-image-2,
.header-image-3 {
  width: 50%;
  align-content: center;
  background-image: url(../../assets/images/home/bg_icon.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 200px) 0;
  background-size: auto;
}

.header-section.animate-in .header-image-1,
.header-section.animate-in .header-image-2,
.header-section.animate-in .header-image-3 {
  animation: slideInBgIcon 1s ease-out 0.5s forwards;
}

@keyframes slideInBgIcon {
  from {
    background-position: calc(100% - 200px) 0;
  }
  to {
    background-position: top right;
  }
}

.header-image-1 img {
  width: 90%;
}
.header-image-2 img,
.header-image-3 img {
  width: 100%;
}

.header-bottom-image {
  width: 100%;
  margin-bottom: -10px;
}

.header-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 40px;
  color: #333;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.header-prev-button {
  left: 20px;
}

.header-next-button {
  right: 20px;
}

/* ------------------------- Responsive Style ----------------------- */

@media (max-width: 1440px) {
  .header-text-1,
  .header-text-2,
  .header-text-3 {
    padding-left: 80px;
  }

  .header-text-1 h1,
  .header-text-2 h1,
  .header-text-3 h1 {
    font-size: 90px;
    line-height: 100px;
  }
}

@media (max-width: 1024px) {
  .header-container-1,
  .header-container-2,
  .header-container-3 {
    margin-left: 0;
  }

  .header-contant-1,
  .header-contant-2,
  .header-contant-3 {
    width: 95%;
  }

  .header-text-1 h1,
  .header-text-2 h1,
  .header-text-3 h1 {
    font-size: 70px;
    line-height: 80px;
  }
}

@media (max-width: 800px) {
  .header-container-1,
  .header-container-2,
  .header-container-3 {
    background-image: none;
  }

  .header-contant-1,
  .header-contant-2,
  .header-contant-3 {
    width: 100%;
  }

  .header-text-1 h1,
  .header-text-2 h1,
  .header-text-3 h1 {
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 1rem;
  }
}

@media (max-width: 500px) {
  .header-container-1,
  .header-container-2,
  .header-container-3 {
    padding-top: 4rem;
  }

  .header-contant-1,
  .header-contant-2,
  .header-contant-3 {
    flex-direction: column;
    padding-right: 0;
  }

  .header-text-1,
  .header-text-2,
  .header-text-3 {
    width: 100%;
  }

  .header-text-1,
  .header-text-2,
  .header-text-3 {
    padding-left: 50px;
  }

  .header-image-1,
  .header-image-2,
  .header-image-3 {
    width: 100%;
  }
}
