.header-section {
  width: 100%;
  background-color: #beb996;
  align-content: center;
  position: relative;
  overflow: hidden;
  background-image: url(../../assets/images/home/top_right.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.header-container {
  width: 92%;
  margin: 0 auto;
  margin-bottom: -50px;
  padding: 6rem 0 2rem 0;
  background-image: url(../../assets/images/home/bottom_left_1.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.header-contant {
  width: 90%;
  margin: 0 auto;
  padding-right: 5rem;
  display: flex;
  justify-content: space-between;
}

.header-text {
  width: 48%;
  padding-left: 100px;
  color: white;
  align-content: center;
}

.header-text h1 {
  font-size: 110px;
  line-height: 120px;
  font-family: "LillyBelle", cursive, sans-serif;
  padding-bottom: 2rem;
}

.header-text button {
  display: inline-block;
  padding: 15px 25px;
  margin-top: 2rem;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  overflow: hidden;
  border-radius: 50px;
  background-color: #ced46c;
  border: none;
}

.header-text button:hover {
  cursor: pointer;
  background-color: #de9190;
}

.header-image {
  width: 50%;
  align-content: center;
  background-image: url(../../assets/images/home/bg_icon.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.header-image img {
  width: 100%;
}

.header-bottom-image {
  width: 100%;
  margin-bottom: -10px;
}
