.menuList-container {
  width: 100%;
  margin: 2rem 0;
  text-align: center;
}

.menuList-container h5 {
  font-size: 24px;
  font-weight: 400;
  color: #272727;
}

.menuList-container h1 {
  font-size: 40px;
  color: #de9190;
  padding: 10px 0;
}

.menuList-images {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.menuList-images img {
  width: 48%;
  z-index: 1;
}

.menuList-last {
  margin-top: -120px;
}

.menuList-last img {
  width: 40%;
}

/* ------------------------- Responsive Style ----------------------- */

@media (max-width: 1440px) {
  .menuList-images {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .menuList-images {
    width: 95%;
  }

  .menuList-last img {
    width: 60%;
  }
}

@media (max-width: 800px) {
  .menuList-last img {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .menuList-images {
    flex-wrap: wrap;
  }

  .menuList-images img {
    width: 100%;
  }

  .menuList-last {
    margin-top: -60px;
  }

  .menuList-last img {
    width: 100%;
  }
}
