.menuintro-container {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuintro-cards {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.menuintro-card {
  background-color: white;
  padding: 40px 30px;
  border-radius: 8px;
  border: 1px dashed #b3b3b3;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.menuintro-card:hover {
  transform: translateY(-5px);
  border: 1px dashed #5e5e5e;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.menuintro-card h1 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 15px;
  font-family: "Arial", sans-serif;
}

.menuintro-card p {
  font-size: 15px;
  line-height: 1.6;
  color: #666;
  padding-top: 1rem;
  font-family: "Arial", sans-serif;
}

/* ------------------------- Responsive Style --------------------- */

@media (max-width: 1440px) {
  .menuintro-cards {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .menuintro-cards {
    width: 95%;
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .menuintro-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .menuintro-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
