.menuVideo-container {
  width: 100%;
  background-image: url(../../assets/images/menu/menu-video-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 4rem 0;
  padding: 15rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuVideo-play-btn {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.menuVideo-play-btn::before,
.menuVideo-play-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
  animation: wave 2s infinite ease-out;
}

.menuVideo-play-btn::after {
  animation-delay: 1s;
}

.menuVideo-icon {
  width: 40px;
  height: 40px;
  color: black;
  fill: black;
}

@keyframes wave {
  0% {
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

/* ------------------------- Responsive Style ----------------------- */

@media (max-width: 800px) {
  .menuVideo-container {
    margin: 2rem 0;
    padding: 12rem 0;
  }
}
